/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

/* Header Styling */
header {
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}


h2 {
    color: #4CAF50;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}


.about {
    margin-bottom: 40px;
    text-align: center;
}


.landmarks {
    margin-bottom: 40px;
}

.landmark-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.landmark-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landmark-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.landmark-item h3 {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-bottom: 10px;
}

.landmark-item p {
    font-size: 1rem;
    color: #666;
}

.fun-facts ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.fun-facts li {
    font-size: 1.2rem;
    margin: 10px 0;
}
